 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }


	.navbar i {
        margin-top:px;
		font-size: 20px;
		color: rgb(114, 114, 114);
	}

        .tombol-back {
            margin-top: 5px;
            float:left;
            padding-left:15px;
        }
 
	.navbar {
		box-shadow: 0 1px 6px 0.1px #f0f0f0;
		position: fixed;
		top:0;
		z-index: 5;
        width: 100%;
        height: 50px;
		background-color: #ffffff;
	}

	/* Pengiriman */

    /* voucher */

    .container-voucher {
        margin-top: 28px;
        background-color: white;
        width:100%;
        margin-bottom:10px;
        padding-bottom: 20px;
    }

    .form-group {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        padding-top:20px;
        width: 80%;
        padding-left: 20px;
        margin-bottom: -5px;
    }

    .form-control {
        font-size : 13px;
    }

    .maps {
        MArgin-top:20px;
        margin-left:20px;
    }
    .judul-maps {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }
    
    .btn {
        width: 90%;
        Margin-top:10px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }

    .cari-titik {
        width: 50%;
        background-color: rgb(255, 208, 0);
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        border:none;
        height: 35px;
        margin-bottom: 20px;
    }

    /* akhir pengiriman */
    

    /*desktop version*/

    @media (min-width: 580px) { 

		/* navbar */

		.navbar {
			position: fixed;
			top:0;
			z-index: 5;
			width: 600px;
			background-color: #ffffff;
		}
		
		.navbar i {
			font-size: 20px;
			color: rgb(145, 145, 145);
		}

		/* akhir navbar */
  

     }