 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
		background-color: white;
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

	  .navbar i {
		  font-size: 20px;
		  color: rgb(114, 114, 114);
	  }


	.navbar {
		box-shadow: 0 1px 6px 0.1px #f0f0f0;
		position: fixed;
		top:0;
		z-index: 5;
		width: 100%;
		background-color: #ffffff;
	}

	/* produk */

	.card {
		box-shadow: 0 2px 6px 0.1px #d8d8d8;
		border:none;
		margin-top:13px;
		width:45.8%;
		height: 235px;

	}

	.figure {
		padding-top: 10px;
		box-shadow: 0 0px 4px 0.1px #ebebeb;
		margin-top: 10px;
		width:150px;
		height: 240px;
		border-radius: 10px;
		font-family: 'Roboto', sans-serif;
	}

	.produk img {
		width: 130px;
		height: 130px;
	}

	/* akhir produk */

    /*desktop version*/

    @media (min-width: 580px) { 

		/* navbar */

		.navbar {
			position: fixed;
			top:0;
			z-index: 5;
			width: 600px;
			background-color: #ffffff;
		}
		
		.navbar i {
			font-size: 20px;
			color: rgb(145, 145, 145);
		}

		/* akhir navbar */
  

     }