 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
		background-color: white;
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

    .container {
        height:550px;
    }

	.navbar i {
        margin-top:px;
		font-size: 20px;
		color: rgb(114, 114, 114);
	}

    .navbar-bottom {
        box-shadow: 0 1px 6px 0.1px #f0f0f0;
		position: fixed;
		bottom:0;
		z-index: 5;
        width: 100%;
        height: 50px;
		background-color: #ffffff;
    }

        .total-harga {
        position: relative;
        top: 14px;
        left: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color:red;
        }

        .total-judul {
        position: relative;
        top: -5px;
        left:-55px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color: rgb(116, 116, 116);
        }

        .tombol-beli {
            font-family: 'Roboto', sans-serif;
            color: white;
            position: relative; 
            top : 8px;
            left: 90px;
            background-color: #fdb913;
            border:none;
            width: 100px;
            height: 35px;
            border-radius: 5px;
        }


	.navbar {
		box-shadow: 0 1px 6px 0.1px #f0f0f0;
		position: fixed;
		top:0;
		z-index: 5;
        width: 100%;
        height: 50px;
		background-color: #ffffff;
	}

	/* produk */

	.figure {
		padding-top: 10px;
		box-shadow: 0 0px 4px 0.1px #ebebeb;
		margin-top: 10px;
		width:100%;
		height:123px;
		border-radius: 10px;
		font-family: 'Roboto', sans-serif;
	}

    .figure-caption {
        margin-left: -60px;
    }

	.figure img {
        margin-top: 10px;
        margin-left: 30px;
		width: 80px;
		height: 80px;
    }
    
    .form-control {
        font-size: 13px;
    }
    
    .form-group label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    .jumlah label {
        position: relative;
        top: -82px;
        left: 175px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    /* Product Quantity */
.quantity {
    position: relative;
    top:-80px;
    padding-bottom: 20px;
    margin-left: 175px;
    z-index: 1;
  }
  .quantity input {
    -webkit-appearance: none;
    border-bottom: 1px solid #fdb913;
    border-top:none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 32px;
    font-size: 14px;
    color: #43484D;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #fdb913;
    cursor: pointer;
  }
  .minus-btn img {
      color: white;
    margin-bottom: 5px;
  }
  .plus-btn img {
    color: white;
    margin-top: -5px;
  }
  button:focus,
  input:focus {
    outline:0;
  }

  .space {
      margin-top : -80px;
  }

  .upload {
      margin-top: -100px;
  }

	/* akhir produk */

    /*desktop version*/

    @media (min-width: 580px) { 

		/* navbar */

		.navbar {
			position: fixed;
			top:0;
			z-index: 5;
			width: 600px;
			background-color: #ffffff;
		}
		
		.navbar i {
			font-size: 20px;
			color: rgb(145, 145, 145);
		}

		/* akhir navbar */
  

     }