 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }


	.navbar i {
        margin-top:px;
		font-size: 20px;
		color: rgb(114, 114, 114);
	}

    .navbar-bottom {
        box-shadow: 0 1px 6px 0.1px #f0f0f0;
		position: fixed;
		bottom:0;
		z-index: 5;
        width: 100%;
        height: 50px;
		background-color: #ffffff;
    }

        .tombol-back {
            margin-top: 5px;
            float:left;
            padding-left:15px;
        }
        .total-harga {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color:red;
        margin-bottom: 1px;
        }

        .total-judul {
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color: rgb(116, 116, 116);
        }

        .tombol-beli {
            margin: 7px;
            margin-right: 15px;
            float:right;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
            color: rgb(27, 27, 27);
            background-color: #fdb913;
            border:none;
            width: 120px;
            height: 35px;
            border-radius: 5px;
        }


	.navbar {
		box-shadow: 0 1px 6px 0.1px #f0f0f0;
		position: fixed;
		top:0;
		z-index: 5;
        width: 100%;
        height: 50px;
		background-color: #ffffff;
	}

	/* Pengiriman */

    /* voucher */

    .container-voucher {
        margin-top: 28px;
        background-color: white;
        width:100%;
        height:60px;
        margin-bottom:10px;
    }

    .gunakan-voucher {
        margin-top: 7px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        box-shadow: 0 2px 4px 0.1px #eee;
        border:none;
        width:90%;
        height: 45px;
        border-radius: 5px;
    }

    .gunakan-voucher img {
        width:8%;
        margin-right: 10px;
    }

    /* akhir voucher */

    /* alamat pengiriman */

    .container-pengiriman {
        background-color: white;   
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .header-pengiriman {
        font-size: 14px;
        padding-left: 15px;
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
    }
    
    .garis {
        width: 91%;
    }

    .alamat-rumah {
        margin-top: -15px;
        font-size: 13px;
        padding-left: 15px;
        padding-top: 15px;
        color: rgb(173, 173, 173);
    }

    .nama-penerima {
        margin-top: -15px;
        font-size: 13px;
        padding-left: 15px;
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
        margin-top: -20px;
    }

    .alamat {
        width : 95%;
        margin-top: -15px;
        font-size: 13px;
        padding-left: 15px;
        padding-top: 15px;
        margin-top: -30px;
        color: rgb(104, 104, 104);
    }

    .ganti-alamat {
        margin-right: 35px;
        margin-top: 5px;
        font-size: 11px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        border:1px solid rgb(116, 116, 116);
        width:40%;
        height: 40px;
        border-radius: 5px;
    }

    .banyak-alamat {
        margin-top: 5px;
        font-size: 11px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        border:1px solid rgb(116, 116, 116);
        width:40%;
        height: 40px;
        border-radius: 5px;
    }
    /* akhir alamat pengiriman */

    .container-produk {
        background-color: white;   
        width: 100%;
        height: 220px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .image-produk img {
        border-radius: 10px;
        margin-top: 15px;
        margin-left:15px;
        width :80px;
    }

    .detail-produk {
        font-family: 'Roboto', sans-serif;
        padding-top: 15px;
        margin-left:-80px;
        font-size: 12px;
    }
    
    .quantity {
        margin-top: -15px;
        font-size: 11px;
        font-family: 'Roboto', sans-serif;
        color: rgb(156, 156, 156);
    }

    .harga-barang {
        font-family: 'Roboto', sans-serif;
        margin-top: -15px;
        color: red; 
        font-size: 13px;
    }

    .pengiriman {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-left:15px;
        margin-top: 5px;
        color: rgb(88, 88, 88);
        margin-bottom: -10px;
    }

    .btn {
        border:none;
        margin-right: 35px;
        margin-left: 110px;
        font-size: 11px;
        font-family: 'Roboto', sans-serif;
        background-color: rgb(255, 208, 0);
        width:60px;
        height: 30px;
        border-radius: 4px;
    }

    .sub-total {
        margin-top: -8px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-left:15px;
        color: rgb(88, 88, 88);
    }

    .harga-total {
        margin-top: -8px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-right:15px;
        color: rgb(255, 0, 0);
       
    }

    .container-ringkasan {
        background-color: white;   
        width: 100%;
        height: 150px;
        margin-bottom: 50px;
    }

    .judul-ringkasan {
        font-size: 14px;
        padding-left: 15px;
        padding-top: 15px;
        font-family: 'Roboto', sans-serif;
    }

    .ringkasan {
        font-size: 12px;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .ringkasan p {
        color : rgb(58, 58, 58);
        margin-bottom:1px;
    }

   .isi-ringkasan {
    font-size: 12px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
   }

   .isi-ringkasan p {
    color : rgb(58, 58, 58);
    margin-bottom:1px;
   }

   .modal-title {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
 }

    .isi-modal a{
        width:90%;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        color : rgb(58, 58, 58);
    }

    .keterangan {
        margin-left: 15px;
        margin-bottom:10px;
        width: 91%;
        height: 40px;
        border: 2px solid rgb(223, 223, 223);
        font-size:12px;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        color:rgb(204, 204, 204);
        padding-left:20px;
        padding-top: 10px;
    }

    /* akhir pengiriman */
    

    /*desktop version*/

    @media (min-width: 580px) { 

		/* navbar */

		.navbar {
			position: fixed;
			top:0;
			z-index: 5;
			width: 600px;
			background-color: #ffffff;
		}
		
		.navbar i {
			font-size: 20px;
			color: rgb(145, 145, 145);
		}

		/* akhir navbar */
  

     }