@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #efefef;
	font-family: 'Open Sans', sans-serif;


}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 360px;
  height: 45px;
  border: none;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 50px;
  height: 45px;
  border: none;
  background: #fff;
  text-align: center;
  color: #ffc20e;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 38px;
  left: 35%;
  transform: translate(-50%, -50%);
}

.navbar-menu-search {
	width: 100%;
	height: 75px;
	position: absolute;
	z-index: 9999;
	
}


.login-icon img {
	position: absolute;
	width: 20px;
	top:38px;
	left:90%;
	color: #fff;
	z-index: 989;
	transform: translate(-50%, -50%);
}

.keranjang-belanja img {
	color: #fff;
	position: absolute;
	width: 25px;
	top:38px;
	left:80%;
	color: #fff;
	z-index: 989;
	transform: translate(-50%, -50%);
}

.menu-icon {
	padding-left: 30px;
	margin: auto;
	width: 100%;
	padding: 5px;
	margin-top: -20px;
}

.menu-icon .row {
	margin:auto;
	margin-left: 20px;
}

.menu-icon img {
	margin: auto;
	width: 70px;
}


.banner-iklan img {
	width: 100%;
	padding-bottom: 5px;

}

.banner-promo img {
	width: 100%;
}

.menu-icon {
	background-color: #fff
}

.lazy {
	margin-top: 0;
	z-index: 0;
}

.navbar-bawah img {
	width: 50px;
	padding:10px;
}