 html, body {
      margin: 0;
      padding: 0;
      background-color: rgb(250, 250, 250);
    }

    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }
    
        .navbar-login {
            background-color: #fdb913;
    
        }
    
        .input input {
            width: 100%;
            background-color: rgba(255,255,255,0);
            border: 2px solid #eee;
            border-radius: 5px;
            font-size: 15px;
            margin: auto;
                background-color: transparent;
        border-bottom: 1px rgba(0,0,0,0.09) solid;
        outline: none;
        display: block;
        height: 40px;
        padding-left: 10px;
        color: #3b3f53;
        margin-bottom: 20px;
        
    }
        .input:hover input {
            width: 100%;
            border: 2px solid #fdb913;
            font-size: 15px;
            
    
    
        }
    
        .tombol-back i {
        font-size: 19px;
        margin-left: 20px;
        margin-top: 16px;
        color: #000;
        }

        .tombol-back img{
            margin-top: 12px;
            width: 32%;
        }

        .judul-page {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color:#686868;
            margin-left: 15px;
        }
    
        .navbar-login {
            height: 50px;
            box-shadow: 0px 1px 2px 0.5px #eee;
            margin-bottom: 20px;
        }
    

        .btn {
            font-family: 'Roboto', sans-serif;
            color: white;
            width: 100%;
            border-radius: 3px;
            background-color: #fdb913;
            margin: auto;
            margin-top: 10px;
        }
    
        .note {
            font-size: 13px;
        }

        .card {
            box-shadow: rgb(230, 230, 230) 0 3px 6px 0.2px;
            border:none;
            outline: none;
            width: 95%;
            margin: auto;
        }

        .lds-screen {
           
            position: absolute;
            left: 235px;
            width: 64px;
            height: 64px;
            
          }

          .lds-screen div {
            background-color: white;
            position: absolute;
            left: 200px;
            width: 13px;
            background: #fdb913;
            animation: lds-screen 1.2s cubic-bezier(0, 0.5, 0.5, 1) 4 ;
          }
          .lds-screen div:nth-child(1) {
            left: 6px;
            animation-delay: -0.24s;
          }
          .lds-screen div:nth-child(2) {
            left: 26px;
            animation-delay: -0.12s;
          }
          .lds-screen div:nth-child(3) {
            left: 45px;
            animation-delay: 0;
          }
          @keyframes lds-screen {
            0% {
              top: 6px;
              height: 51px;
            }
            50%, 100% {
              top: 19px;
              height: 26px;
            }
          }
          

      /*desktop version*/

    @media (min-width: 600px) { 

      .tombol-back img {
        margin-top: 10px;
        width: 25%;
    }

    .lds-screen {
           
      position: absolute;
      top:40px;
      left: 400px;
      width: 64px;
      height: 64px;
      
    }

     }