
html, body {
	margin: 0;
    padding: 0;
	background-color: rgb(247, 247, 247);
  }

  .app-container {
	  max-width: 37.5rem;
    margin: auto;
	  position: relative;
	  display: block;
  }

  .navbar-login i {
	  font-size: 45px;
	  margin-left: 20px;
	  margin-top: 20px;
	  color: #fdb913;
	  }
  

    .navbar-bottom {
        z-index: 6;
        position: fixed; /* Set the navbar to fixed position */
        bottom: 0; /* Position the navbar at the top of the page */
        width: 600px;
        height: 50px;
        background-color: white;
        border:none;    
        box-shadow: 0px -3px 2px 0.1px rgb(231, 231, 231);
    }

	  .navbar-login i {
	  font-size: 45px;
	  margin-left: 20px;
	  margin-top: 20px;
	  color: #fdb913;
	  }
  
	  .input input {
		  width: 90%;
		  border: none;
		  background-color: rgba(255,255,255,0);
		  border-bottom: 2px solid #eee;
		  font-size: 15px;
		  margin: auto;
			  background-color: transparent;
	  border-top: none;
	  border-left: none;
	  border-right: none;
	  border-bottom: 1px rgba(0,0,0,0.09) solid;
	  outline: none;
	  display: block;
	  height: 40px;
	  color: #3b3f53;
	  margin-bottom: 20px;
	  
  }
	  .input:hover input {
		  width: 90%;
		  border: none;
		  border-bottom: 2px solid #fdb913;
		  font-size: 15px;
	  }

	  .tombol-back i {
        font-size: 19px;
        margin-left: 20px;
        margin-top: 16px;
        color: #000;
        }

        .total-harga {
        position: relative;
        top: 14px;
        left: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color:red;
        }

        .total-judul {
        position: relative;
        top: -5px;
        left:-55px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color: rgb(116, 116, 116);
        }

        .tombol-beli {
            font-family: 'Roboto', sans-serif;
            color: white;
            position: relative; 
            top : 8px;
            left: 90px;
            background-color: #fdb913;
            border:none;
            width: 100px;
            height: 35px;
            border-radius: 5px;
        }

		.judul-page {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color:#686868;
            margin-left: 15px;
        }
    
        .navbar-login {
            background-color:white;
            width: 600px;
            height: 50px;
            position:fixed;
            top:0;
            z-index: 9999;
        }

        .navbar-pilih {
            height: 50px;
            box-shadow: 0px 3px 2px 0.1px rgb(231, 231, 231);
            margin-bottom: 5px;
            background-color: white;
            position: fixed;
            top:50px;
            width: 600px;
            z-index: 9999;
           
        }
  
        hr {
            margin-bottom: 85px;
        }

	  .btn-login{
		  width: 90%;
		  border-radius: 3px;
		  background-color: #fdb913;
		  margin: auto;
		  margin-top: 10px;
	  }

	  .btn {
		font-family: 'Roboto', sans-serif;
		  color: white;
	  }
  
	  #lupa {
		font-family: 'Roboto', sans-serif;
		  color : #000;
		  font-size: 13px;
	  }

	  #bantuan {
		font-family: 'Roboto', sans-serif;
		  color : #000;
		  font-size: 13px;
	  }
	  
	  .lupa-password {
		  margin-top: 10px;
	  }
  
	  .daftar {
		font-family: 'Roboto', sans-serif;
		  margin-top: 40px;
		  
  
	  }
  
	  .daftar span {
		font-family: 'Roboto', sans-serif;
		  color : #fdb913;
	  }
  
	  .daftar i {
		font-family: 'Roboto', sans-serif;
		  font-size: 14px;
	  }
  

      /* checkbox Item */

      /* Customize the label (the container) */
      .pilih-semua {
        display: block;
        position: relative;
        top: 18px;
        left: 18px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .pilih-semua input{
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

      }

      .judul-cb {
          position: relative;
          top: -12px;
          left: 25px;
          font-size: 12px;
          font-family: 'Roboto', sans-serif;
          color: #686868;

      }

      /* Show the checkmark when checked */
  .pilih-semua input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .pilih-semua .checkmark:after {
    left:6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  
  /* On mouse-over, add a grey background color */
  .pilih-semua:hover input ~ .checkmark {
    background-color: rgb(255, 255, 255);
  }
  
  /* When the checkbox is checked, add a blue background */
  .pilih-semua input:checked ~ .checkmark {
    background-color:#fdb913;
    border:none;
  }



      /* akhir checkbox item */

    /* PRODUK KERANJANG */

    .keranjang-1 img {
        position: relative;
        top: 10px;
        left: 40px;
        width : 60px;
        height: 60px;
        border-radius: 5px;
    }

    .nama-produk {
        position: absolute;
        left : 130px;
        top : 10px;
        width:150px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

    .harga-produk {
        position: absolute;
        top: 45px;
        left: 130px;
        margin-top: -15px;
        padding-left: -10px;
        color: red;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;

    }

   /* Product Quantity */
.quantity {
    position: relative;
    top:10px;
    padding-bottom: 20px;
    margin-left: 150px;
    z-index: 1;
  }
  .quantity input {
    -webkit-appearance: none;
    border-bottom: 1px solid #fdb913;
    border-top:none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 32px;
    font-size: 14px;
    color: #43484D;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #fdb913;
    cursor: pointer;
  }
  .minus-btn img {
      color: white;
    margin-bottom: 5px;
  }
  .plus-btn img {
    color: white;
    margin-top: -5px;
  }
  button:focus,
  input:focus {
    outline:0;
  }

  /* Buttons -  Delete and Like */

    /* AKHIR PRODUKKERANJANG */

    .tombol-del {
        position: absolute;
        top: -3px;
        left:280px;
        width: 40px;
        margin-top: 10px;
        margin-left: 20px;
        color: #686868;
        background-color: white;
        border: 1px solid white;
    
    }

    .container {
        height: 110px;
        position: relative;
        background-color: white;
        margin-top: 5px;
        margin-bottom: -55px;
        z-index: 1;
    }


    /* QUANTITY */
/* Customize the label (the container) */
.checkboxlist {
    display: block;
    position: relative;
    top: 30px;
    left: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkboxlist input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color:white;
    border: 1px solid rgb(206, 206, 206);
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxlist:hover input ~ .checkmark {
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxlist input:checked ~ .checkmark {
    background-color: #fdb913;
    border: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxlist input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxlist .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

    /* AKHIR QUANTITY */

    .space {
      margin-bottom: 60px;
    }

	/*desktop version*/

  @media (min-width: 600px) { 

    .container {
      height: 130px;
      width: 100%;
      position: relative;
      background-color: white;
      margin-top: 5px;
      margin-bottom: -55px;
      z-index: 1;
  }

  .quantity {
    position: relative;
    top:10px;
    padding-bottom: 20px;
    margin-left: 150px;
    z-index: 1;
  }

  .tombol-beli {
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative; 
    top : 8px;
    left: 340epx;
    background-color: #fdb913;
    border:none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}


   }