 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

  
	  /*icon i*/
	  .navbar i {
		  font-size: 20px;
		  color: #fff;
	  }
	  /*akhir icon i*/

	/* akhir carousel */

	.navbar-bottom img{
		width:25px;
	}

	.navbar-bottom a{
		text-decoration: none;
	}

	.menu-home {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color:white;
	}

	.menu-history {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color:#A87F2C;
	}

	.menu-wallet {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color:#A87F2C;
	}

	.menu-profile {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color: #A87F2C;
	}

	.navbar {
		position: fixed;
		top:0;
		z-index: 5;
		width: 100%;
		background-color: #ffcb05;
	}

	.navbar-bottom {
		width: 100%; 
		background-color: #ffcb05;
		height: 50px;
		position:fixed;
		bottom:0;
	}
    .menu img {
    	width: 50px;
    	margin: 0px 15px;
    }

    .menu {
    	margin-top: -1px;
    }
  		
    .produk-promo {
    	background-color: white;
    	height: 230px;
    	overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
    	margin-bottom: 10px;
    	padding:10px;
	}
	
	.paket-cetak {
    	background-color: white;
    	height: 230px;
    	overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
    	margin-bottom: 10px;
    	padding:10px;
    }

	.ruang-info {
    	background-color: white;
    	height: 230px;
    	overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
    	margin-bottom: 50px;
    	padding:10px;
	}
	
    .produk-promo img {
    	width: 150px;
    	height: 150px;

	}
	
	.paket-cetak img {
    	width: 150px;
    	height: 150px;

	}
	.ruang-info img {
    	width: 150px;
    	height: 150px;

    }
    .produk1 {
    	display: inline-block;
    	width: 150px;
    	height: 100%;
    	
    }



    .produk2 {
    	display: inline-block;
    	width: 150px;
    	height: 100%;

    }

    .produk3 {
    	display: inline-block;
    	width: 150px;
    	height: 100%;

  
    }

    .produk4 {
    	display: inline-block;
    	width: 150px;
    	height: 100%;

  
    }

    .produk5 {
    	display: inline-block;
    	width: 150px;
    	height: 100%;


    }

    .produk6 {
    	display: inline-block;
    	width: 150px;
    	height: 100%;

  
    }
    .produk7  {
    	display: inline-block;
    	width: 150px;
    	height: 100%;

    }

	.img-profile {
		width: 26px;
		
	}


    /*desktop version*/

    @media (min-width: 580px) { 

		/* navbar */

		.navbar {
			position: fixed;
			top:0;
			z-index: 5;
			width: 600px;
			background-color: #ffcb05;
		}
	
		.navbar-bottom {
			width:600px;
			height: 50px;
	
		}

		/* akhir navbar */

		/* menu */
		.menu img {
			width: 80px;
			margin: 0px 15px;
		}

		/* akhir menu */

			/* carousel */

	
	  /*icon i*/
	  .navbar i {
		  font-size: 20px;
		  color: #fff;
	  }
	  .img-profile img {
		  width: 25px;
	  }
	  /*akhir icon i*/

	/* akhir carousel */

	.produk-promo {
    	background-color: white;
    	height: 230px;
    	overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
    	margin-bottom: 30px;
		padding:10px;
    }

	.navbar-bottom img {
		width:25px;
	}

	.menu-home {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color:white;
	}

	.menu-history {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color:#A87F2C;
	}

	.menu-wallet {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color:#A87F2C;
	}

	.menu-profile {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color: #A87F2C;
	}

}