 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

    .navbar i { 
      color: #fff;
      font-size: 20px;
        
     }