
html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(247, 247, 247);
  }

  .app-container {
	  max-width: 37.5rem;
	  margin: auto;
	  position: relative;
	  z-index: 0;
	  display: block;
  }

  .navbar-login i {
	  font-size: 45px;
	  margin-left: 20px;
	  margin-top: 20px;
	  color: #fdb913;
	  }
  
    .navbar-login {
        z-index: 6;
        position: fixed;
        top: 0;
        width: 600px;
        background-color: white;
        border:none;    
       
    }

    .navbar-bottom {
        z-index: 10;
        position: fixed;
        bottom: 0;
        width: 600px;
        height: 50px;
        background-color: white;
        border:none;    
        box-shadow: 0px -3px 2px 0.1px rgb(231, 231, 231);
    }

	  .navbar-login i {
	  font-size: 45px;
	  margin-left: 20px;
	  margin-top: 20px;
	  color: #fdb913;
	  }
  
	  .input input {
		  width: 90%;
		  border: none;
		  background-color: rgba(255,255,255,0);
		  border-bottom: 2px solid #eee;
		  font-size: 15px;
		  margin: auto;
			  background-color: transparent;
	  border-top: none;
	  border-left: none;
	  border-right: none;
	  border-bottom: 1px rgba(0,0,0,0.09) solid;
	  outline: none;
	  display: block;
	  height: 40px;
	  color: #3b3f53;
	  margin-bottom: 20px;
	  
  }
	  .input:hover input {
		  width: 90%;
		  border: none;
		  border-bottom: 2px solid #fdb913;
		  font-size: 15px;
	  }

	  .tombol-back i {
        font-size: 19px;
        margin-left: 20px;
        margin-top: 16px;
        color: #000;
        }

        .total-harga {
        position: relative;
        top: 14px;
        left: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color:red;
        }

        .total-judul {
        position: relative;
        top: -5px;
        left:-55px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color: rgb(116, 116, 116);
        }

        .tombol-beli {
            font-family: 'Roboto', sans-serif;
            color: white;
            position: relative; 
            top : 8px;
            left: 90px;
            background-color: #fdb913;
            border:none;
            width: 100px;
            height: 35px;
            border-radius: 5px;
        }

		.judul-page {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color:#686868;
            margin-left: 15px;
        }
    
        .navbar-login {
            height: 50px;
        }

        .navbar-pilih {
            height: 50px;
            box-shadow: 0px 3px 2px 0.1px rgb(231, 231, 231);
            margin-bottom: 5px;
            background-color: white;
            position: fixed;
            top: 50px;
            width: 600px;
            z-index: 6;
           
        }
  
	  .btn-login{
		  width: 90%;
		  border-radius: 3px;
		  background-color: #fdb913;
		  margin: auto;
		  margin-top: 10px;
	  }

	  .btn {
		font-family: 'Roboto', sans-serif;
		  color: white;
	  }
  
	  #lupa {
		font-family: 'Roboto', sans-serif;
		  color : #000;
		  font-size: 13px;
	  }

	  #bantuan {
		font-family: 'Roboto', sans-serif;
		  color : #000;
		  font-size: 13px;
	  }
	  
	  .lupa-password {
		  margin-top: 10px;
	  }
  
	  .daftar {
		font-family: 'Roboto', sans-serif;
		  margin-top: 40px;
		  
  
	  }
  
	  .daftar span {
		font-family: 'Roboto', sans-serif;
		  color : #fdb913;
	  }
  
	  .daftar i {
		font-family: 'Roboto', sans-serif;
		  font-size: 14px;
	  }
  

      /* checkbox Item */

      /* Customize the label (the container) */
      .pilih-semua {
        width: 100%;
        height: 20px;
        display: block;
        position: absolute;
        top: -10px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

      }
      .pilih-semua input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

      }

      .judul-cb {
          position: absolute;
          top: 30px;
          left: 60px;
          font-size: 12px;
          font-family: 'Roboto', sans-serif;
          color: #686868;

      }

      /* Show the checkmark when checked */
  .pilih-semua input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .pilih-semua .checkmark:after {
    left:6px;
    top: 0px;
    width: 7.5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  
  /* On mouse-over, add a grey background color */
  .pilih-semua:hover input ~ .checkmark {
    background-color: rgb(255, 255, 255);
  }
  
  /* When the checkbox is checked, add a blue background */
  .pilih-semua input:checked ~ .checkmark {
    background-color:#fdb913;
    border:none;
  }

.container {
    background-color: white;
    width: 100%;
    height: 110px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 104px;
    margin-bottom: 5000px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 28px;
    left: 20px;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #eee
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(255, 255, 255);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color:#fdb913;
    border:none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left:6px;
    top: 0px;
    width: 7.5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

      /* akhir checkbox item */

    /* PRODUK KERANJANG */

    .keranjang-1 img {
        position: absolute;
        left : 60px;
        top : 32px;
        margin-top: -18px;
        width : 50px;
        height: 50px;
        border-radius: 5px;
    }

    .nama-produk {
        font-family: 'Roboto', sans-serif;
        position: absolute;
        left: 120px;
        top:20px;
        font-size: 14px;
    }

    .harga-produk {
        color: red;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        left: 120px;
        top:40px;
        font-size: 13px;

    }

   /* Product Quantity */
.quantity {
    position: absolute;
    left:150px;
    top:48px;
    padding-top: 20px;
    margin-right: 60px;
    z-index: 5;
  }
  .quantity input {
    -webkit-appearance: none;
    border-bottom: 1px solid #fdb913;
    border-top:none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 32px;
    font-size: 14px;
    color: #43484D;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #fdb913;
    cursor: pointer;
  }
  .minus-btn img {
      color: white;
    margin-bottom: 5px;
  }
  .plus-btn img {
    color: white;
    margin-top: -5px;
  }
  button:focus,
  input:focus {
    outline:0;
  }

  /* Buttons -  Delete and Like */

  .like-btn {
    position: absolute;
    top: 60px;
    left: 150px;
    display: inline-block;
    background: url('/img/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 5;
  }
  
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
    /* AKHIR PRODUKKERANJANG */

    .tombol-del {
        color: #686868;
        background-color: white;
        border: 1px solid white;
        position: absolute;
        z-index: 5;
        top: 15px;
        left :310px;
    }

    

	/*desktop version*/

  @media (min-width: 600px) { 

   }