 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

    .navbar i { 
      color: #fff;
      font-size: 20px;
        
     }

     .btn {
      font-size: 13px;
      font-family: 'Roboto', sans-serif;
      width:50%;
      height: 40px;
      box-shadow: 3px 3px 5px rgb(218, 218, 218);
      position: relative;
      display: inline-block;
      margin-right: 10px;
     }

     .list-group-item {
       background-image: url('../img/indoor/gb-default.png');
       background-size: cover;
       margin-bottom: 10px;
       box-shadow: 3px 3px 5px rgb(218, 218, 218);
     }
     .badge{
       margin-left: -35px;
       font-size: 13px;
       position: absolute;
       top: -10px;
       right: -70px;
     } 