 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
        padding-top: 90px;
        height: 660px;
        background-color: white;
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

        .input input {
            width: 100%;
            background-color: rgba(255,255,255,0);
            border: 2px solid #eee;
            border-radius: 5px;
            font-size: 15px;
            margin: auto;
                background-color: transparent;
        border-bottom: 1px rgba(0,0,0,0.09) solid;
        outline: none;
        display: block;
        height: 40px;
        padding-left: 10px;
        color: #3b3f53;
        margin-bottom: 20px;
        
    }
        .input:hover input {
            width: 100%;
            border: 2px solid #fdb913;
            font-size: 15px;
        }
    
        .tombol-back i {
        font-size: 19px;
        margin-left: 20px;
        margin-top: 16px;
        color: #000;
        }

        .judul-page {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color:#686868;
            margin-left: 15px;
        }
    
        .navbar-login {
            background-color: white;
			width: 100%;
			position: fixed;
			top:0;
            height: 50px;
            box-shadow: 0px 1px 2px 0.5px #eee;
            margin-bottom: 50px;
            z-index: 3;
        }
    
        .btn {
            font-family: 'Roboto', sans-serif;
            color: white;
            width: 100%;
            border-radius: 3px;
            background-color: #fdb913;
            margin: auto;
            margin-top: 10px;
        }
    
        .note {
            font-size: 13px;
        }

        .card {
            box-shadow: rgb(230, 230, 230) 0 3px 6px 0.2px;
            border:none;
            outline: none;
            width: 95%;
            margin: auto;
            margin-top: -20px;
        }

      /*desktop version*/

    @media (min-width: 600px) { 

        .navbar-login {
            background-color: white;
            width: 600px;
            position: fixed;
            top:0;
            height: 50px;
            box-shadow: 0px 1px 2px 0.5px #eee;
            margin-bottom: 50px;
        }

     }