html, body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
  }

  .app-container {
	  padding-top: 90px;
	  max-width: 37.5rem;
	  height: 660px;
	  margin: auto;
	  position: relative;
	  z-index: 0;
	  display: block;
  }

	
	  .tombol-back i {
        font-size: 19px;
        margin-left: 20px;
        margin-top: 16px;
        color: rgb(49, 49, 49);
		}
		

		.judul-page {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color:#686868;
            margin-left: 15px;
        }
    
        .navbar-login {
			background-color: white;
			width: 100%;
			position: fixed;
			top:0;
            height: 50px;
            box-shadow: 0px 1px 2px 0.5px #eee;
            margin-bottom: 10px;
            z-index: 5;
        }
  
        .jumbotron {

            margin-top:-40px;
            margin-bottom: 10px;

        }

        .jumbotron img {
            width: 80px;
            margin-bottom: 5px;
        }

        .jumbotron .email {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            margin-top: -15px;
            margin-bottom: -5px;
        }
        .jumbotron .no-telp {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
        .jumbotron h6 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }

        .jumbotron .date-created {
            margin-top:-10px;
            font-size: 12px;
            margin-bottom: -10px;
        }

        .ubah-data {
            margin-bottom: 10px;
        }

        .list-group-item i {
            font-size: 20px;
            margin-right: 10px;
        }

        .jumbotron .btn {
            position: absolute;
            left: 200px;
            top: 100px;
        }
	/*desktop version*/

  @media (min-width: 600px) { 

	.navbar-login {
		background-color: white;
		width: 600px;
		position: fixed;
		top:0;
		height: 50px;
		box-shadow: 0px 1px 2px 0.5px #eee;
        margin-bottom: 50px;
        z-index: 5;
	}

   }