 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }
    
    .app-container {
    	max-width: 37.5rem;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }

    /* navbar */

    .navbar i { 
        color: #fff;
        font-size: 20px;
          
       }
    
    .navbar-bottom {
        position:fixed;
        bottom:0;
        z-index: 4;
        width: 100%;
        height : 60px;
        background-color: white;
    }

    .btn-tambahkeranjang {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 2px;
        color: #FFCB04;
        font-size: 14px;
        background-color: white;
        border: 2px solid #FFCB04;
        margin: 5px;
        margin-top: 12px;
        width: 150px;
        height :35px;
    }

    .btn-beli {
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #FFCB04;
        margin: 5px;
        margin-top: 12px;
        width: 150px;
        height :35px;
    }

    /* akhir navbar */

    /* bannerslider */

    .carousel-indicators .active {
        background-color:#FFCB04;
    }

    .carousel-indicators li {
       background-color:  rgb(95, 95, 95);
    }

    /* akhir banner slider */

    /* tombollike */
    .like-content i {
        margin-left: -1px;
        margin-top: -1px;
    }
    .like-content .btn-secondary {
        position: absolute;
        top: 305px;
        left: 280px;
        width: 50px;
        height: 50px;
        display: block;
        margin: 40px auto 0px;
      text-align: center;
      background: #ffffff;
      border-radius: 60px;
      box-shadow: 0 10px 20px -8px rgb(146, 146, 146);
      padding: 10px 17px;
      font-size: 18px;
      cursor: pointer;
      border: none;
      outline: none;
      color: #c0c0c0;
      text-decoration: none;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
  }
  .like-content .btn-secondary:hover {
        transform: translateY(-3px);
        color: red;
        background-color: white;
        box-shadow: 0 10px 20px -8px rgb(245, 71, 71);
  }
  .like-content .btn-secondary .fa {
        margin-right: 5px;
  }
  .animate-like {
      animation-name: likeAnimation;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-duration: 0.65s;
  }
  @keyframes likeAnimation {
    0%   { transform: scale(30); }
    100% { transform: scale(1); }
  }

    /* akhir tombol like */

    
     
     /* detail produk, sesi harga, freeongkir, detail informasi */

     .harga-produk {
        padding-top: -5px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: red;
        font-weight: bold;
     }

     .nama-produk {
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
     }

     .keterangan {
         padding-top: 11px;
         margin-left : 3px;
        font-family: 'Roboto', sans-serif;
         color: rgb(104, 104, 104);
         font-size: 12px;
     }

     .alamat-kantor {
         margin-top: 2px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: rgb(43, 43, 43)
     }

    .jarak-kirim {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: rgb(43, 43, 43);
    }

     .free-ongkir img {
         margin-top: 5px;
        margin-bottom: 1px;
        width: 30px;
        height: 30px;
     }

     .informasi-produk {
         margin-bottom: -3px;
         padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: rgb(53, 53, 53);
     }

     .bahan-produk {
        padding: 10px 0 0;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #979797
     }

     .detail-bahan {
         margin-top : 23px;
     }


     /* akhir detail produk */

@media (min-width: 600px) { 

     .navbar-bottom {
        position:fixed;
        bottom:0;
        z-index: 4;
        width: 600px;
        height : 60px;
        background-color: white;
    }

    .btn-tambahkeranjang {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 2px;
        color: #FFCB04;
        font-size: 14px;
        background-color: white;
        border: 2px solid #FFCB04;
        margin: 5px;
        margin-top: 12px;
        width: 278px;
        height :35px;
    }

    .btn-beli {
        color: white;
        font-family: 'Roboto', sans-serif;
        background-color: #FFCB04;
        margin: 5px;
        margin-top: 12px;
        width: 278px;
        height :35px;
    }

   


}