 html, body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .app-container {
        padding-top: 90px;
	  background-color: white;
        max-width: 37.5rem;
        height: 660px;
    	margin: auto;
    	position: relative;
    	z-index: 0;
    	display: block;
    }
    
        .input input {
            width: 90%;
            border: none;
            background-color: rgba(255,255,255,0);
            border-bottom: 2px solid #eee;
            font-size: 15px;
            margin: auto;
                background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px rgba(0,0,0,0.09) solid;
        outline: none;
        display: block;
        height: 40px;
        color: #3b3f53;
        margin-bottom: 20px;
        
    }
        .input:hover input {
            width: 90%;
            border: none;
            border-bottom: 2px solid #fdb913;
            font-size: 15px;
            
    
    
        }
    
        .tombol-back i {
        font-size: 19px;
        margin-left: 20px;
        margin-top: 16px;
        color: #000;
        }

        .judul-page {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            color:#686868;
            margin-left: 15px;
        }
    
        .navbar-login {
            background-color: white;
			width: 100%;
			position: fixed;
			top:0;
            height: 50px;
            box-shadow: 0px 1px 2px 0.5px #eee;
            margin-bottom: 50px;
        }
    
        .btn {
            font-family: 'Roboto', sans-serif;
            color: white;
            width: 90%;
            border-radius: 3px;
            background-color: #fdb913;
            margin: auto;
            margin-top: 10px;
        }
    
        #lupa {
            font-family: 'Roboto', sans-serif;
            color : #000;
            font-size: 13px;
        }

        #bantuan {
            font-family: 'Roboto', sans-serif;
            color : #000;
            font-size: 13px;
        }
        
        .lupa-password {
            margin-top: 10px;
        }
    
        .daftar {
            font-family: 'Roboto', sans-serif;
            margin-top: 40px;
    
        }
    
        .daftar span {
            font-family: 'Roboto', sans-serif;
            color : #fdb913;
        }
    
        .daftar i {
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 14px;
        }
    

      /*desktop version*/

    @media (min-width: 600px) { 

        .navbar-login {
            background-color: white;
            width: 600px;
            position: fixed;
            top:0;
            height: 50px;
            box-shadow: 0px 1px 2px 0.5px #eee;
            margin-bottom: 50px;
        }

     }